//
// Variables
//

//* Breakpoints *//
$bp_x-small: 25em; // 480px
$bp_small: 30em; // 480px
$bp_medium: 48em; // 768px
$bp_large: 60em; // 960px
$bp_x-large: 75em; // 1200px

//* Colors *//
$primary_color: #f18200;
$secondary_color: #3397DB;
$black: #252831;

//* Font size *//
$base_font_size: 16;

//* Spacing *//
$space_8: .8rem;