@charset "UTF-8";

// SETTINGS
// variables for color, spacing, typo
@import 'settings';

// TOOLS
// functions, mixins
@import 'tools';

// ELEMENTS
// HTML elements: li, a, html, body etc. Base styles
@import 'elements';

// Objects
// Description: Mainly for layout, shouldn't contain theme/design
// Careful when editing as it will break layout
// .o-grid, .o-grid__item, .o-grid__header, .o-grid__footer/main/sidebar

// Components
// Description: buttons, accordions, forms
// Can be placed anywhere without breaking layout
// .c-btn, .c-btn--large, c-btn--yellow etc
// .c-accordion
// .c-social-media__list
@import 'components/header-nav';
@import 'components/footer';
@import 'components/map';
@import 'components/map-filters';
@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/restaurants-list';
@import 'components/restaurants-details';
@import 'components/reviews';

// Patterns
// Description: collection of components, header, footer

// Scope
// Description: page specific styles, f.ex scopes/home

// Utlities
// Description: does usually just one thing and often with !important
@import 'utilities';


#main {
  background-color: #f3f3f3;
}

.restaurant__container, .reviews__container {
  padding: 3rem 6%;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

@media screen and (min-width: $bp_large) {
  .restaurant__container, .reviews__container {
    max-width: 80vw;
    padding: 3rem 0;
    margin: 0 auto;
  }
}