// NAVIGATION
nav {
  padding: 1.2em;
  font-size: 1.4rem;
  text-align: center;
  background-color: $black;

  h1 {
    margin: 0;
    color: #fff;
    font-size: inherit;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;

    a {
      color: #fff;
      text-decoration: none;
    }

    a:hover, a:focus { color: $primary_color; }
  }

  @media screen and (min-width: $bp_small) {
    padding: 1.5em;
    font-size: 1.6rem;
  }

  @media screen and (min-width: $bp_medium) {
    font-size: 1.8rem;
  }
}